
<div>
	<h2>Objects - Concise Methods</h2>
	<p>
		ECMAScript 6 also improves the syntax for assigning methods to object
		literals. In ECMAScript 5 and earlier, you must specify a name and then the
		full function definition to add a method to an object, as follows:
	</p>

<div>
<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
var person = {
	name: "Nicholas",
	sayName: function() {
		console.log(this.name);
	}
};</code>
		</pre>
	</figure>
<br>
<p>
	In ECMAScript 6, the syntax is made more concise by eliminating the
	colon and the function keyword. That means you can rewrite the example
	like this:
</p>

<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
var person = {
	name: "Nicholas",
	sayName() {
		console.log(this.name);
	}
};</code>
		</pre>
	</figure>
<br>

</div>

