
<div>
	<h2>Default Parameter Values</h2>
	<p>
		In ECMAScript 5 and earlier, you would likely use the following pattern to
		create a function with default parameter values:
	</p>



<div>
	<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
function makeRequest(url, title, callback) {
  
	url = url || 'https://www.bbc.co.uk/'
	title = title || 'BBC';
	callback = callback || function() {};
	
		console.log('The ' + title + '\'s url is ' + url);
}

var paramFunction = function() {
	console.log('paramFunction callback');
}

makeRequest();
makeRequest('https://www.111.com/', '111 Website', paramFunction());</code>
		</pre>
	</figure>
	<br>
	<p>
		Or in a safer alternative, by checking the type of the argument using typeof.
	</p>
	<figure>
		<pre class="line-numbers padding-left"  ng-prism>
<code class="language-javascript">
function makeRequest2(url, title, callback) {

	url = (typeof url !== "undefined") ? url : 'https://www.bbclondon.co.uk/';
		title = (typeof title !== "undefined") ? title : 'BBC London';
		callback = (typeof callback !== "undefined") ? callback : function() {};
	
		console.log('The ' + title + '\'s url is ' + url);
}

makeRequest2();
makeRequest2('https://www.222.com/', '222 Website', paramFunction());</code>
		</pre>
	</figure>
<br>
<p>
	ECMAScript 6 makes it easier to provide default values for parameters by supplying initializations that are used when the parameter isn’t formally passed. <br> 
Example:
</p>
<figure>
	<pre class="line-numbers padding-left"  ng-prism>
<code class="language-javascript">
function makeRequest3(url = 'https://www.bbclocal.co.uk/', title = 'BBC Local', callback = function() {}) {
	console.log('The ' + title + '\'s url is ' + url);
}


makeRequest3();
makeRequest3('https://www.333.co.uk/', '333 Website', paramFunction());</code>
	</pre>
</figure>

	<a class="btn btn-primary" href="http://jsbin.com/puquteb/edit?js,console" target="_blank">JS Bin</a>
</div>
