
<div>
	<h2>Object.assign() Method</h2>
	<p>
		The Object.assign() method is used to copy the values of all enumerable own properties from one or more source objects to a target object. It will return the target object.
		Properties in the target object will be overwritten by properties in the sources if they have the same key.  Later sources' properties will similarly overwrite earlier ones.  <br>
		Example:
	</p>

<div>
<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
let defaults = {
	container:       ".main",
	isActiveClass:   ".is-active"
};

let options1 = {
	container:       ".main-container",
	isActiveClass:   ".is-active-element"
};

let options2 = {
	isActiveClass:   ".is-active-content"
};

let settings = Object.assign({}, defaults, options1, options2);

console.log(settings);</code>
		</pre>
	</figure>

<a class="btn btn-primary" href="http://jsbin.com/guligu/edit?js,console" target="_blank">JS Bin</a>

<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
const object1 = {
	a: 1,
	b: 2,
	c: 3
};

const object2 = {
	d: 4,
	e: 5,
	f: 6
};

const object3 = Object.assign(object2, object1);

console.log(object3);</code>
		</pre>
	</figure>

<a class="btn btn-primary" href="http://jsbin.com/lahiyem/edit?js,console" target="_blank">JS Bin</a>
<br>
</div>
