
<div>
	<h2>Object.is() Method</h2>
	<p>
		ECMAScript 6 introduces the Object.is() method to remedy the
		remaining inaccuracies of the identically equals operator. This method
		accepts two arguments and returns true if the values are equivalent. Two
		values are considered equivalent when they’re the same type and have the
		same value.<br>
		Examples:
	</p>



<div>
<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
console.log(+0 == -0);  // true
console.log(+0 === -0); // true
console.log(Object.is(+0, -0)); // false
console.log(NaN == NaN); // false
console.log(NaN === NaN); // false
console.log(Object.is(NaN, NaN)); // true
console.log(5 == 5); // true
console.log(5 == "5"); // true
console.log(5 === 5); // true
console.log(5 === "5"); // false
console.log(Object.is(5, 5)); // true
console.log(Object.is(5, "5")); // false</code>
		</pre>
	</figure>

<a class="btn btn-primary" href="http://jsbin.com/dibire/edit?js,console" target="_blank">JS Bin</a>
</div>
