
<div>
	<h2>Rest parameter</h2>
	<p>
		The rest parameter syntax allows us to represent an indefinite number of arguments as an array.<br>
		If the last named argument of a function is prefixed with ..., it becomes an array with elements  supplied by the actual arguments passed to the function.<br>
		Exaples:
	</p>



<div>
<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
function fun1(...theArgs) {
	console.log(theArgs.length);
}

fun1();  // 0
fun1(5); // 1
fun1(5, 6, 7); // 3

function multiply(multiplier, ...theArgs) {
	return theArgs.map(function(element) {
		return multiplier * element;
	});
}

var arr = multiply(2, 1, 2, 3); 

console.log(arr); // [2, 4, 6]</code>
		</pre>
	</figure>

<a class="btn btn-primary" href="http://jsbin.com/gejadoj/edit?js,console" target="_blank">JS Bin</a>
</div>
