
<div>
	<h2>Sets</h2>
	<p>
		Set objects are collections of values. You can iterate through the elements of a set in insertion order. A value in the Set may only occur once; it is unique in the Set's collection.<br>
		Examples:
	</p>

<div>
<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
var mySet = new Set();

mySet.add(1); // Set [ 1 ]
mySet.add(5); // Set [ 1, 5 ]
mySet.add(5); // Set [ 1, 5 ]
mySet.add('some text'); // Set [ 1, 5, 'some text' ]
var o = {a: 1, b: 2};
mySet.add(o);  // Set [ 1, 5, 'some text', {a: 1, b: 2} ]


for (let item of mySet) console.log(item);</code>
		</pre>
	</figure>


<a class="btn btn-primary" href="http://jsbin.com/yasavec/edit?js,console" target="_blank">JS Bin</a>
</div>
