
<div>
		<h2>Spread Operator</h2>
		<p>
				Closely related to rest parameters is the spread operator. Whereas rest
				parameters allow you to specify that multiple independent arguments
				should be combined into an array, the spread operator allows you to specify
				an array that should be split and passed in as separate arguments to a function.<br>
				Examples:
		</p>
	
	
	
	<div>
	<figure>
			<pre class="line-numbers padding-left"  ng-prism>
				<code class="language-javascript">
let values = [25, 50, 75, 100]
console.log(Math.max(...values));
equivalent to console.log(Math.max(25, 50, 75, 100));


function sum(x, y, z) {
	return x + y + z;
}

const numbers = [1, 2, 3, 4];

console.log(sum(...numbers));
// expected output: 6</code>
			</pre>
		</figure>
	<br>
	
	<a class="btn btn-primary" href="http://jsbin.com/puquvaw/edit?js,console" target="_blank">JS Bin</a>
	</div>
	