<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img ng-src="{{ logo.es6 }}" class="img-responsive" alt="ES6 logo">
        </div>
        <ul class="list-unstyled components">
          <li ng-repeat="chapter in chapters">
            <a ui-sref="{{ chapter.url }}">{{ chapter.chapterName }}</a>
          </li>
        </ul>
      </nav>  
    

    <!-- Page Content -->
    <div id="content" >

        <ui-view></ui-view>
    </div> <!-- content end -->
  </div> <!-- wrapper end -->

