<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../img/JavaScript_logo.svg" class="img-responsive" alt="Cinque Terre">
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Setup</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                  <li><a href="#">Sub 1</a></li>
                  <li><a href="#">Sub 2</a></li>
                  <li><a href="#">Sub 3</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled components">
          <li ng-repeat="chapter in chapters">
            <a ui-sref="{{ chapter.url }}">{{ chapter.chapterName }}</a>
          </li>
        </ul>
      </nav>  
    

    <!-- Page Content -->
    <div id="content" >
        <h1>JavaScript Essentials</h1>
      
      <div ui-view="main-content-view"></div>
    </div> <!-- content end -->
  </div> <!-- wrapper end -->

