<div>
	<h2>Module.</h2>
	<p>A module is a collection of services, directives, controllers, filters, and configuration information.</p>
	<h4>How to create a module</h4>
	<p>To create Angular module we need to use module() method.</p>
	<figure>
		<pre class="line-numbers padding-left"  ng-prism>
			<code class="language-javascript">
var myApp = angular.module('myModule', []);</code>
		</pre>
	</figure>
	<p>The angular.module comes from the framework.<br></p>
	<p>The first parameter in module() specifies the name for the module we are creating.<br></p>
	<p>The second parameter is an array with all dependencies our module requires.<br></p>
	<p>If tere are no dependencies the array stays empty.</p>

	<div class="line"></div>
</div>

