

<div>
	<h2>Data Sorting by Multiple Properties</h2>
	<p>
	The orderBy filter allows us to sort the data by multiple properties
	</P>
	

<div class="line"></div>
	<figure>
		<pre class="line-numbers padding-left" ng-prism>
			<code class="language-javascript">
.controller('myController', function ($scope) {
												
							var employees = [
								{
									name: 'Ben',
									dateOfBirth: new Date('November 23, 1999'), 
									gender: 'Male',
									salary: 22222.959696,
								},
								{
									name: 'Bill',
									dateOfBirth: new Date('September 13, 1989'), 
									gender: 'Male',
									salary: 33333.76777,
								},
								{
									name: 'Josh',
									dateOfBirth: new Date('June 23, 1993'), 
									gender: 'Male',
									salary: 44444.6666,
								},
								{
									name: 'Andrew',
									dateOfBirth: new Date('January 13, 2000'), 
									gender: 'Male',
									salary: 55555.099,
								},
								{
									name: 'John',
									dateOfBirth: new Date('March 13, 2000'), 
									gender: 'Male',
									salary: 66666.999,
								},
							];

							$scope.employees = employees;

						}
	</code>
		</pre>
	</figure>
<div class="line"></div>
<figure>
		<pre class="line-numbers padding-left" ng-prism>
			<code class="language-markup">
&lt;input type="text" placeholder="Search by name" ng-model="searchText.name"&gt;
&lt;input type="text" placeholder="Search by city" ng-model="searchText.city"&gt;
&lt;input type="checkbox" ng-model="exactMatch"&gt;
&lt;tbody&gt;
	&lt;tr ng-repeat="employee in employees | filter:searchText:exactMatch"&gt;
		&lt;td&gt;{{ employee.name}}&lt;/td&gt;
		&lt;td&gt;{{ employee.dateOfBirth}}&lt;/td&gt;
		&lt;td&gt;{{ employee.gender}}&lt;/td&gt;
		&lt;td&gt;{{ employee.salary}}&lt;/td&gt;
	&lt;/tr&gt;
&lt;/tbody&gt;
			</code>
		</pre>
	</figure>

<p>
To search with exact match we need to add checkbox with ng-model specified. In our case:
ng-model="exactMatch"
<br>
Next we need to pass this ng-model to the filter in ng-repeat directive.
<br>
ng-repeat="employee in employees | filter:searchText:exactMatch"
</p>
<div class="line"></div>
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Working Example</button>
  <div id="demo" class="collapse">
   <h3>Sort by multiple properties</h3>
		
		<input type="text" placeholder="Search by name" ng-model="searchText.name" >
		<input type="text" placeholder="Search by city" ng-model="searchText.city" >
		<input type="checkbox" ng-model="exactMatch" > 
		Exact match
		<br><br>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date of birth</th>
					<th>City</th>
					<th>Gender</th>
					<th>Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees | filter:searchText:exactMatch">
					<td>{{ employee.name | uppercase }}</td>
					<td>{{ employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
					<td>{{ employee.city }}</td>
					<td>{{ employee.gender | lowercase }}</td>
					<td>{{ employee.salary | currency:"£" }}</td>
				</tr>
			</tbody>
		</table>
  </div>
	<div class="line"></div>
</div>